name: Sync Website Server to Hugging Face Space

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "website/server/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push code to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote add hf https://user:$HF_TOKEN@huggingface.co/spaces/arpy8/aasha-ai-backend-website/server

          # Push only website/server folder to HF main branch
          git push hf `git subtree split --prefix website/server main`:main --force